.container {
  background: #666666;
  color: whitesmoke;
}

.msg1 {
  max-width: 1195px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.msg3x {
  margin-right: 150px;
  font-size: 80px;
  letter-spacing: -0.03em;
}

.msg120 {
  margin-right: 150px;
  font-size: 80px;
}
.msg390 {
  margin-right: 150px;
  font-size: 80px;
}

.Popupsmart {
  margin-top: 90px;
  font-size: 30px;
}

.p1 {
  margin-top: 20px;
  font-size: 16px;
}

.p2 {
  margin-top: 20px;
  font-size: 16px;
}

.p3 {
  margin-top: 20px;
  font-size: 16px;
}
