.contentpage {
  max-width: 1195px;
  margin: auto;
  margin-top: 3%;
}

.pagenumber {
  width: 36px;
  height: 36px;
  background-color: #eaeaea;
  text-align: center;
  border-radius: 100%;
  font-size: x-large;
}
.mailinput {
  max-width: 1195px;
  margin: auto;
  margin-top: 1%;
}
.signupbutton {
  width: 378px;
  radius: 8px;
  box-sizing: border-box;
  height: 36px;
  background: #ffffff;
  border: 1px solid #7d4aea;
  border-radius: 8px;
  margin-top: 2%;
}

.enteryourmail {
  width: 378px;
  radius: 8px;
  box-sizing: border-box;
  height: 36px;
  background: #ffffff;
  border: 1px solid #7d4aea;
  border-radius: 8px;
}

.contentpage2{
    max-width: 1195px;
    margin: auto;
    margin-top: 1%;
}
.signupbutton2{
    width: 378px;
  radius: 8px;
  box-sizing: border-box;
  height: 36px;
  background: #ffffff;
  border: 1px solid #7d4aea;
  border-radius: 8px;
}

.lastinput{
    width: 378px;
  radius: 8px;
  box-sizing: border-box;
  height: 36px;
  background: #ffffff;
  border: 1px solid #7d4aea;
  border-radius: 8px;
  margin-top: none;
}
.lastinputdiv{
    max-width: 1195px;
    margin: auto;
    margin-top: 1%;
}